body {
  padding: 50px;
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 1.6rem;
}

.title p, .subtitle p {
  padding: 0;
  margin: 0 0 0 1rem;
}

.frame {
  margin-top: 2rem;
  padding: 4rem;
  width: 100%;
  background-color: #4B4B4B6A;
  border-radius: 1rem;
  border: 4px solid white;
  display: none;
}

.frame.active {
  display: block;
}

.contents {
  font-size: 1.6rem;
}

.input-box {
  width: 76%;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: .5rem;
}

select {
  width: 75%;
  font-size: 1.25rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: .5rem;
}

button {
  width: fit-content;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1034A6;
}

nav {
  padding: 1rem !important;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.flex-nowrap p {
  margin: 0;
  padding: 0 0 0 1rem;
}

.table {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}