<video autoplay muted loop id="backgroundVideo">
  <source src="../videos/background.mp4" type="video/mp4">
</video>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Ethereum Tutorials</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/hello-world">Hello World</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-token">My Token</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voting">Voting</a>
        </li>
      </ul>
    </div>
  </nav>

<h1><%= title %></h1>