<!-- CDN(Contents Delivery Network) 방식으로 bootstrap css 가져오기 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<!-- custom css -->
<link rel='stylesheet' href='../stylesheets/style.css' />

<title><%= title %></title>