<html>

<head>

</head>

<body>
    <script>
            sessionStorage.removeItem('account');
    </script>
    <div class="login-section">
        <div class="header">
            <h1>LogOut</h1>
            <h2>로그아웃 되었습니다</h2>
            <li><a href="/login">로그인 페이지 이동</a></li>
            <hr>
        </div>

    </div>
</body>

</html>